@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: 'Kanit', sans-serif;
}

.contact-page{
    background-image : url("../../assets/contactbg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;    
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;   
    background-color: rgba(0, 0, 0, 0.6);
}

/* Contact header */

.contact-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.header-heading {
    margin-bottom: 25px;
    font-size: 3rem;
    color: rgb(219, 219, 219);
}

.icon-row {
    display: flex;
    gap: 50px;
    margin-top: 20px;
}

.icon-container {
    text-align: center;
    margin: 0 20px;
}

.icons {
    color: rgb(104, 110, 116);
    font-size: 30px;
}

.icon-label {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: rgb(185, 185, 185);
}

.icon-details {
    font-size: 16px;
    color: #8f8f8f;
}

/* Contact container */

.contact-container {
    max-width: 100%;
    padding: 40px;
    height: 427px;
    background-color: #f7f7f7;
    border-radius: 10px 0 0 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-container .tagline {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 30px;
}

.contact-container form {
    display: flex;
    flex-direction: column;
}

.contact-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-container input,
.contact-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
}

.contact-container button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

.contact-container button:hover {
    background-color: #555;
}

.contact-container button:disabled {
    background-color: #999;
    cursor: not-allowed;
}

/* Map container  */

.contact-map-container {
    display: flex;
}

.map-container {
    border: none;
    border-left: 1px solid rgb(138, 138, 138) ;
    border-radius: 0;
    height: 507px;
    border-radius: 0 10px 10px 0;
}

/* Footer */

.footer-tag {
    margin-top: 50px;
    text-align: center;
    color: #d4d2d2;
}

